body {
    background-color: rgb(67, 104, 25);
    color:white;
    font-family: "Playwrite CU", system-ui;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    margin:0;
}

button {
    background-color: greenyellow ;
    color: white;
    font-family: "Playwrite CU", system-ui;
}

.passo {
    display: none;
}
.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 85%;
}